<div id="julia">
  <h3>Julia</h3>

  <p>
    Julia is a scientific programming language. You can find the latest
    version, along with installation instructions for your operating system,
    on the <a href="https://julialang.org/downloads/">Julia download page</a>.

    Alternatively you can use <a href="https://github.com/JuliaLang/juliaup">juliaup</a> to install julia and manage julia installations.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a data-os="windows" href="#julia-windows" aria-controls="Windows"
           role="tab" data-toggle="tab">Windows</a>
      </li>
      <li role="presentation">
        <a data-os="macos" href="#julia-macos" aria-controls="MacOS" role="tab"
           data-toggle="tab">MacOS</a>
      </li>
      <li role="presentation">
        <a data-os="linux" href="#julia-linux" aria-controls="Linux" role="tab"
           data-toggle="tab">Linux</a>
      </li>
    </ul>
    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="julia-windows">
        <ul>
          <ol>
            <li>
              Open a web browser (Firefox, Chrome, etc.) and visit
              the <a href="https://julialang.org/downloads/">Julia download
              page</a>.
            </li>
            <li>
              Download the <strong>Current stable release</strong> for Windows
              by clicking the <strong>64-bit (installer)</strong> link.
            </li>
            <li>
              Run the installer once it finishes downloading.
            </li>
            <li>
              Click on Next to accept the default directory (or after
              specifying your preferred installation location).
            </li>
            <li>
              On the <em>Select Additional Tasks</em> screen
              under <em>Other</em>, <strong>check the box to Add Julia to
              PATH</strong>.
            </li>
            <li>
              Click Next.
            </li>
            <li>
              Click on Finish.
            </li>
          </ol>
        </ul>
        <p>
          We will run Julia through the Git-Bash interface. Once you have it installed:
        </p>
        <ul>
          <ol>
            <li>
              Open the Start menu and click on the <strong>Git</strong> folder.
            </li>
            <li>
              Click on <strong>Git Bash</strong>&mdash;<em>not Git Cmd!</em>
            </li>
            <li>
              A warning message might pop up about a missing icon: click "I
              see," and continue.
            </li>
            <li>
              Once the terminal window loads, type <kbd>julia</kbd> and enjoy the
              lesson!
            </li>
          </ol>
        </ul>
      </article>
      <article role="tabpanel" class="tab-pane" id="julia-macos">
        <p>
          Download the current stable release from the <a href="https://julialang.org/downloads/">Julia download
              page</a> and follow the installation instructions.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="julia-linux">
        <p>
          Download the current stable release from the <a href="https://julialang.org/downloads/">Julia download
              page</a> and unpack the folder to any location that is in your PATH or link the binary in the <strong>bin</strong> folder to such a location.
        </p>
      </article>
    </div>
  </div>
</div>
